*{
    margin: 0;
    padding: 0;
    }

body{
    background: url(img/abstract-space2.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    src: url('fonts/Roboto-Regular.ttf') format("truetype");
} 

.portfolio{
    color: #fff;
    font-size: 50px;
    margin-left: 50px;
}

nav {
background-color: blueviolet;
color:antiquewhite ;
 }

 .container-bar{
    display: flex;   
    margin-left: 50px;
    text-align: center;
 }

 .navbar-brand{   
    box-sizing:border-box;
    width: 300px;    
 }

 #navBarBr{
    font-weight: bold;    
    font-size: 30px;
 }

.nav-item{
    font-size: 25px;
    font-weight: normal;  
}

.nav-li:hover {
   color: #2eb53b;   
}

 nav ul li {    
    display: inline-block;
    list-style-type: none;
    padding-top: 8px;
    margin-left: 50px;
    text-align: center;
  }

.wrapper {    
    display: flex; 
    margin: 0 auto;
    width: 1440px;            
 } 

.textMyWorks{
   color: #fff;
   margin-top: 50px;
   margin-left: 600px;    
}

.textWork:hover {
   color: #2eb53b;   
}

.myWorks {   
    display: grid;
    gap: 100px 100px;
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(3,300px); 
    justify-content: center;    
    margin-top: 80px; 
 }

 .textWork {
   align-items: center;
   color: #fff;
   font-size: 20px;
   margin-top: 100px;
   margin-left: 100px;
   text-decoration: none;   
 }

.SimpleTemplate {
    background: url(img/SST12.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #f4f6f7;
    border-radius: 20px;
    height: 219px;     
    width: 327px;    
 }
 
 .SimpleTemplate:hover {
    background: url(img/SST12.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #2eb53b;
    border-radius: 20px;
    filter: brightness(90%);
    height: 219px;     
    width: 327px;
  }
    
 .Calculator {
    background: url(img/Calc2.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #f4f6f7;
    border-radius: 20px;  
    height: 219px; 
    width: 327px;
 }
 
 .Calculator:hover {
    background: url(img/Calc2.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #2eb53b;
    border-radius: 20px;
    filter: brightness(90%);
    height: 219px;     
    width: 327px;
 }
 
 .ToDoList {
    background: url(img/ToDoList.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #f4f6f7;
    border-radius: 20px;    
    height: 219px; 
    width: 327px;
 }
 
 .ToDoList:hover {
    background: url(img/ToDoList.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #2eb53b;
    border-radius: 20px;
    filter: brightness(90%);
    height: 219px;     
    width: 327px;
 }
 
 .main-container{
   color: #fff;   
   display: flex;
 }

 .container-img{
   border: 5px solid #f4f6f7;
   border-radius: 20px;
   box-sizing: border-box;
   margin:50px 10px 10px 50px;   
   width: 700px;    
 }

 .containerNav-img{
   border: 2px solid #f4f6f7;
   border-radius: 20px;
   box-sizing: border-box;
   margin:50px 10px 10px 50px;  
   width: 650px;    
 }

 .container-text{
   font-size: 20px;
   margin:50px 10px 10px 50px;   
   width: 700px;  
   margin-bottom: 50px;
 }

 .container-textMyCont{
   font-size: 20px;
   margin:50px 10px 10px 50px;   
   width: 250px;  
 }

 .contact-container {   
   margin-top: 50px; 
   text-align: center;
   width: 900px;  
} 

.contact-input{
   background-color: rgb(197, 187, 207);
   margin-bottom: 10px;
   padding: 5px; 
}

#contactButton{
   background-color: rgb(38, 10, 66);  
   border: 2px solid #eef1f4;
   color: white;
}

.myContact-container{
margin-top:50px;
}

.textMyConact{
   text-align: center;
}

.seeGitHub{
   background-color: rgb(38, 10, 66); 
   border: 1px solid #fff;
   border-radius: 10px;
   color: white;
   font-size: 18px;
   padding: 5px;   
   margin-left: 250px;
   text-align: center;
   text-decoration: none;   
}

.seeGitHub:hover{
   background-color: rgb(38, 10, 66); 
   border: 1px solid #2eb53b;
   border-radius: 10px;
   color: #2eb53b;;
   font-size: 18px;
   padding: 5px;   
   margin-left: 250px;
   text-align: center;
   text-decoration: none;   
}