*{
    margin: 0;
    padding: 0;
    }

body{
    background: url(img/abstract-space-background-with-nebula-and-stars.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    src: url('fonts/Roboto-Regular.ttf') format("truetype");
} 

.portfolio{
    color: #fff;
    font-size: 50px;
    margin-left: 50px;
}


nav {
background-color: blueviolet;
color:antiquewhite ;
/* width: 1440px; */
 }

 .container-bar{
    display: flex;   
    margin-left: 50px;
    text-align: center;
 }
 .navbar-brand{   
    box-sizing:border-box;
    width: 300px;    
 }

 #navBarBr{
    font-weight: bold;    
    font-size: 30px;
 }


.nav-item{
    font-size: 25px;
    font-weight: normal;  
}

.nav-li:hover {
   color: #2eb53b;   
}

 nav ul li {    
    display: inline-block;
    list-style-type: none;
    padding-top: 8px;
    margin-left: 50px;
    text-align: center;
  }

.wrapper {    
    border-radius: 27px; 
    display: flex; 
    margin: 0 auto;
    width: 1440px;            
 } 

.textMyWorks{
   color: #fff;
   margin-top: 50px;
   margin-left: 600px;
    
}

.textWork:hover {
   color: #2eb53b;   
}

.myWorks {   
    display: grid;
    gap: 100px 100px;
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(3,300px); 
    justify-content: center;   
    /* margin-bottom: 50px; */
    margin-top: 80px;  
    /* margin-left: 50px; */

 }


 .textWork {
   align-items: center;
   color: #fff;
   font-size: 20px;
   margin-top: 100px;
   margin-left: 100px;
   text-decoration: none;   
 }


.SimpleTemplate {
    background: url(img/SST12.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #f4f6f7;
    border-radius: 10px;
    height: 220px;     
    width: 329px;    
 }
 
 .SimpleTemplate:hover {
   background: url(img/SST12.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #2eb53b;
    border-radius: 10px;
    filter: brightness(90%);
    height: 220px;     
    width: 329px;
  }
    
 .Calculator {
    background: url(img/Calc2.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #f4f6f7;
    border-radius: 10px;  
    height: 220px; 
    width: 329px;
 }
 
 .Calculator:hover {
     background: url(img/Calc2.png);
     background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #2eb53b;
    border-radius: 10px;
    filter: brightness(90%);
    height: 220px;     
    width: 329px;
 }
 
 .ToDoList {
    background: url(img/ToDoList.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #f4f6f7;
    border-radius: 10px;    
    height: 220px; 
    width: 329px;
 }
 
 .ToDoList:hover {
    background: url(img/ToDoList.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #2eb53b;
    border-radius: 10px;
    filter: brightness(90%);
    height: 220px;     
    width: 329px;
 }
 
 .main-container{
   color: #fff;   
   display: flex;
 }

 .container-img{
   border: 5px solid #f4f6f7;
   border-radius: 20px;
   box-sizing: border-box;
   margin-bottom: 10px;
   margin-right: 10px;   
   margin-left: 50px;
   margin-top: 50px;

   width: 700px;    
 }

 .containerNav-img{
   border: 2px solid #f4f6f7;
   border-radius: 20px;
   box-sizing: border-box;
   margin-bottom: 10px;
   margin-right: 10px;   
   margin-left: 50px;
   margin-top: 50px;   
   width: 650px;    
 }

 .container-text{
   font-size: 20px;
   margin-bottom: 10px;
   margin-right: 10px;   
   margin-left: 50px;
   margin-top: 50px;   
   width: 700px; 
 
 }

 .container-textMyCont{
   font-size: 20px;
   margin-bottom: 10px;
   margin-right: 10px;   
   margin-left: 50px;
   margin-top: 50px;   
   width: 250px; 
 
 }
 .contact-container {
   text-align: center;
   width: 900px;  
   margin-top: 50px;
   
 
} 

.contact-input{
   background-color: rgb(197, 187, 207);
   margin-bottom: 10px;
 
}

.myContact-container{
margin-top:50px;
}

.textMyConact{
   text-align: center;
}